body{
    background-color: #80afca;
}

header {
    height: 150px;
    max-width: 99%;
    border-style: double;
    border-width: medium;
    border-color: #374046;
    background-color: #235971;
    text-align: center;
    color: white;
    font-size: 4.5em;
    font-family: 'Henny Penny', cursive;
    }
header p {
    margin-top: 2%;
   }
